- name: UFW extra en master (web)
  hosts: master
  become: true
  tasks:
    - name: Permitir HTTP
      ufw:
        rule: allow
        port: "80"
        proto: tcp

    - name: Permitir HTTPS
      ufw:
        rule: allow
        port: "443"
        proto: tcp
