- name: Instalar k3s server en master
  hosts: master
  become: true
  tasks:

    - name: Instalar k3s server
      shell: |
        curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Copiar kubeconfig a usuario david
      shell: |
        mkdir -p /home/david/.kube
        cp /etc/rancher/k3s/k3s.yaml /home/david/.kube/config
        chown -R david:david /home/david/.kube
      args:
        creates: /home/david/.kube/config

    - name: Obtener token del master
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_token_b64

    - name: Guardar token como fact para el resto
      set_fact:
        k3s_token: "{{ k3s_token_b64['content'] | b64decode | trim }}"