- name: Instalar k3s agent y unir al master
  hosts: workers
  become: true
  vars:
    master_ip: 192.168.56.101
  tasks:
    - name: Leer token desde el master
      delegate_to: lamp-master
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_token_b64

    - name: Unir worker al cluster k3s
      shell: |
        curl -sfL https://get.k3s.io | \
        K3S_URL="https://{{ master_ip }}:6443" \
        K3S_TOKEN="{{ k3s_token_b64.content | b64decode | trim }}" sh -
      args:
        creates: /usr/local/bin/k3s-agent