- name: Instalar k3s agent en workers
  hosts: workers
  become: true
  vars:
    master_ip: 192.168.56.101
  tasks:
    - name: Instalar k3s agent y unir al master
      shell: |
        curl -sfL https://get.k3s.io | K3S_URL="https://{{ master_ip }}:6443" K3S_TOKEN="{{ hostvars['lamp-master']['k3s_token'] }}" sh -
      args:
        creates: /usr/local/bin/k3s-agent